.button:hover{
	-fx-border-color: white;
	-fx-border-width: 2px 2px 2px 0px;
	-fx-border-style: solid;
}

.button:pressed{
	-fx-border-color: white;
	-fx-border-width: 2px 2px 2px 0px;
	-fx-border-style: solid;
	-fx-opacity: 0.4;
}

.button{
	-fx-opacity: 0.6;
	-fx-background-color: #b71414;
}